body {
  width: 80%;
  max-width: 700px;
  min-width: 300px;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  font-family: inter;
  font-weight: 300;
  background: #F5F7FB;
  color: #293264;
}

h1 {
  font-weight: 700;
  font-family: karla;
  margin-top: -50px;
}

h2 {
  font-weight: 300;
  margin-top: 30px;
}

button {
  background: #4D5B9E;
  color: #F5F7FB;
  border-radius: 15px;
  width: 193px;
  height: 52px;
  margin-top: 30px;
}

.question-card {
  border-bottom: 0.794239px solid #DBDEF0;
}

.question {
  font-family: karla;
  font-weight: 700;
  font-size: 1rem;
}

.answers li {
  display: inline-block;
  margin: 10px;
  border: 0.8px solid #4D5B9E;
  border-radius: 8px;
  font-weight: 500;
  font-size: 0.7rem;
  padding: 5px 10px;
  min-width: 40px;
}

.selected-answer {
  background: #D6DBF5
} 
 
ul {
  padding-inline-start: 0;
}